main{
    background: #ebd3a9;
    background: linear-gradient(180deg, rgba(235, 211, 169, 1) 0%, rgba(79, 32, 13, 1) 100%);
    margin-top: -16px;
    padding-top: 15px;
}
.my-3{
    padding-bottom: 7rem;
    margin-bottom: 0px !important;
}

.text-on-img-container {
    position: relative;
    text-align: center;

    color: white;


}

.style-for-pictures {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    position: relative;
    border-radius: 20px;

}

.img-text-bottom-rigth {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: right;
    padding-bottom: 3px;
    padding-right: 25px;
    border-radius: 100px;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);

}

@media screen and (max-width: 480px) {
    .img-text-bottom-rigth {
        text-align: center;
        padding-right: 0px;
    }

}

@media screen and (min-width: 768px) {
    .img-secondary {
        height: 100%;
    }

    .style-for-pictures {
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    .img-main {
        height: 35rem;
    }

}

.style-for-pictures img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;


}


.style-for-pictures img:hover {
    transform: scale(1.05);

}

.margin-bottom {
    margin-bottom: 10px;
}
h4 {
    font-weight: 100;
}