:root{
 --btn-sucsess-priamry: #FFA500;
 --btn-sucsess-hover:#CB8300;
 --btn-sucsess-hover-border :#9a6200;
 --btn-sucsess-active-border: #6b4300;
}



body {
    flex-direction: column;
}

footer {
    background: #4F200D;
    background: linear-gradient(180deg, rgba(79, 32, 13, 1) 30%, rgba(0, 0, 0, 1) 100%);
    color: white;
    text-align: center;
}

footer p {
    padding: 10px;
    margin-bottom:10px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.navbar-nav {
    flex-direction: row;

}
.nav-item{
    margin-left: 5px;
    color: #000;
}
.navbar{
    border-bottom: 1px black solid;
    background-color: white !important;
}

#navba-dropdown-subsites {
    position: absolute !important;
    padding-right: 2rem;
    width: 30rem;
}


.navbar-nav li {
    margin-left: 10px;
}

#logo-img {
    width: 40px;
    margin-left: 10px;
}
.mb-2{
    margin-bottom: 0rem !important;
}
.offcanvas-buttons{
    width: 100%;

}

#offcanva-first-row .col-6{
    padding: 2px;
}
#offcanva-navbar-costume .nav-link{
    text-align: left !important;
    color: black;
}
#offcanva-navbar-costume .active{
    --bs-nav-pills-link-active-bg: #F6F1E9;
    --bs-nav-pills-border-radius: 0;
}
#offcanva-navbar-costume .nav-item{
    margin-left: 0px;
    margin-right: 0px;
   
}

.btn-primary {
    --bs-btn-color: #000000;
    --bs-btn-bg: #F6F1E9;
    --bs-btn-border-color: #F6F1E9;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fae4c4;
    --bs-btn-hover-border-color: #000;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #e2d0b6;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #F6F1E9;
    --bs-btn-disabled-border-color: #F6F1E9;
}
.btn-success{
   --bs-btn-color: #fff;
    --bs-btn-bg: var(--btn-sucsess-priamry);
    --bs-btn-border-color: var(--btn-sucsess-priamry);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--btn-sucsess-hover);
    --bs-btn-hover-border-color: var(--btn-sucsess-hover-border);
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--btn-sucsess-hover-border);
    --bs-btn-active-border-color: var(--btn-sucsess-active-border);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--btn-sucsess-priamry);
    --bs-btn-disabled-border-color: var(--btn-sucsess-priamry);
}
/*
198754
157347
146c43
13653f
*/