body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #f7efe5, #c4a899, #5b2c16);
    display: flex;
    flex-direction: column;
}

.topbar {
    padding: 10px 30px;
    background: rgba(255,255,255,0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-card {
    max-width: 360px;
    width: 100%;
    background: #f7f3eb;
    border-radius: 6px;
    margin-top: 50px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    margin-top: 100px;
    margin-bottom: 100px;
}

.login-card h5 {
    margin-bottom: 20px;
}

.btn-login {
    --bs-btn-bg: #f39c12;
    --bs-btn-color: #fff;
    --bs-btn-border-color: #f39c12;
  }

.btn-login:hover {
    background-color: #e08e0b;
}

footer {
    text-align: center;
    padding: 20px;
    background: #4F200D;
    background: linear-gradient(180deg, rgba(79, 32, 13, 1) 30%, rgba(0, 0, 0, 1) 100%);
    font-size: 14px;
}
main{
    background: #0f0d09;
    background: linear-gradient(180deg, rgba(235, 211, 169, 1) 0%, rgba(79, 32, 13, 1) 100%);
}